<nav class="navbar navbar-expand bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Workspace</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/dashboard">Tableau de bord</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-warning fw-bold" routerLink="/admin">Administration</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin || isProjectLead">
        <a class="nav-link" routerLink="/projects">Projets</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/kanban">Kanban</a>
      </li>      
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login">Connexion</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <button class="btn btn-outline-light ms-3" (click)="onLogout()">Déconnexion</button>
      </li>
    </ul>
  </div>
</nav>
